<div *ngIf="carregou">
  <div *ngIf="pedido; else noPedido">
    <h2>Meu Pedido</h2>
    <p><strong>Origem:</strong> {{ pedido.origem.rua }}, {{ pedido.origem.cidade }}</p>
    <p><strong>Destino:</strong> {{ pedido.destino.rua }}, {{ pedido.destino.cidade }}</p>
    <p><strong>Status:</strong> {{ pedido.status }}</p>
    <p><strong>Nível de Conforto:</strong> {{ pedido.nivelConforto }}</p>
    <p><strong>Número de Pessoas:</strong> {{ pedido.numeroPessoas }}</p>
    <p><strong>Data do Pedido:</strong> {{ pedido.dataPedido | date }}</p>

    <!-- Mostrar botões se o status for 'pendente_cliente' -->
    <div *ngIf="pedido.status === 'pendente_cliente'">
      <h3>Motorista Aceitou a Viagem</h3>
      <p>Você deseja aceitar ou recusar?</p>
      <button (click)="aceitarPedido()">Aceitar</button>
      <button (click)="recusarPedido()">Recusar</button>
    </div>
  </div>

  <ng-template #noPedido>
    <p>Você ainda não tem pedidos registrados.</p>
  </ng-template>
</div>