<div *ngIf="carregou">
  <div *ngIf="pedido; else noPedido">
    <h2>Meu Pedido</h2>
    <p><strong>Origem:</strong> {{ pedido.origem.rua }}, {{ pedido.origem.cidade }}</p>
    <p><strong>Destino:</strong> {{ pedido.destino.rua }}, {{ pedido.destino.cidade }}</p>
    <p><strong>Status:</strong> {{ pedido.status }}</p>
    <p><strong>Nível de Conforto:</strong> {{ pedido.nivelConforto }}</p>
    <p><strong>Número de Pessoas:</strong> {{ pedido.numeroPessoas }}</p>
    <p><strong>Data do Pedido:</strong> {{ pedido.dataPedido | date }}</p>
  </div>

  <ng-template #noPedido>
    <p>Você ainda não tem pedidos registrados.</p>
  </ng-template>
</div>
