/* Centralizar a seleção no centro da tela */
.login-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 40px;
    border-radius: 15px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

/* Estilo do título */
.login-selection h1 {
    font-family: 'Porsche Next', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}


/* Estilo para os botões */
.login-options {
    font-family: 'Porsche Next', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
}

.login-options .btn {
    display: block;
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-options .btn:hover {
    background-color: #444;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.login-options .btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}