<form (submit)="onSubmit($event)">
  <p-text-field-wrapper label="Matrícula *" name="matricula">
    <input type="text" name="matricula" placeholder="Ex: 12-34-AB ou 1234AB" #matriculaInput />
  </p-text-field-wrapper>
  <p-text [size]="'small'" *ngIf="matriculaError" class="error">{{ matriculaError }}</p-text>

  <p-select name="marca" label="Marca *">
    <p-select-option value="">Escolha uma marca</p-select-option>
    <p-select-option *ngFor="let marca of marcas" [value]="marca">{{ marca }}</p-select-option>
  </p-select>
  <p-text [size]="'small'" *ngIf="marcaError" class="error">{{ marcaError }}</p-text>

  <p-select name="modelo" label="Modelo *">
    <p-select-option value="">Escolha um modelo</p-select-option>
    <p-select-option *ngFor="let modelo of modelos" [value]="modelo">{{ modelo }}</p-select-option>
  </p-select>
  <p-text [size]="'small'" *ngIf="modeloError" class="error">{{ modeloError }}</p-text>

  <p-text-field-wrapper label="Ano de Compra *" name="ano_compra">
    <input type="number" name="ano_compra" placeholder="2025" #anoCompraInput />
  </p-text-field-wrapper>
  <p-text [size]="'small'" *ngIf="anoCompraError" class="error">{{ anoCompraError }}</p-text>

  <p-select name="nivel_conforto" label="Conforto *">
    <p-select-option value="básico">Básico</p-select-option>
    <p-select-option value="luxuoso">Luxuoso</p-select-option>
  </p-select>
  <p-text [size]="'small'" *ngIf="nivelConfortoError" class="error">{{ nivelConfortoError }}</p-text>

  <p-button type="submit">Registar Táxi</p-button>
</form>