<h2>Táxis</h2>
<p-link>
  <a [routerLink]="'novo'" class="add-taxi-btn">Adicionar Taxi</a>
</p-link>
<p-table>
  <p-table-head>
    <p-table-head-row>
      <p-table-head-cell>Matrícula</p-table-head-cell>
      <p-table-head-cell>Marca</p-table-head-cell>
      <p-table-head-cell>Modelo</p-table-head-cell>
      <p-table-head-cell>Ano de Compra</p-table-head-cell>
      <p-table-head-cell>Nível de Conforto</p-table-head-cell>
      <p-table-head-cell>Ações</p-table-head-cell>
    </p-table-head-row>
  </p-table-head>
  <p-table-body>
    <p-table-row *ngFor="let taxi of taxis">
      <p-table-cell>{{ taxi.matricula }}</p-table-cell>
      <p-table-cell>{{ taxi.marca }}</p-table-cell>
      <p-table-cell>{{ taxi.modelo }}</p-table-cell>
      <p-table-cell>{{ taxi.ano_compra }}</p-table-cell>
      <p-table-cell>{{ taxi.nivel_conforto }}</p-table-cell>
      <p-table-cell>
        <p-button (click)="onEdit(taxi)">Editar</p-button>
        <p-button (click)="onRemove(taxi)" [disabled]="taxi.temTurno">Remover</p-button>
        <p-button (click)="onEstatisticas(taxi)">Estatísticas</p-button>
      </p-table-cell>
    </p-table-row>
  </p-table-body>
</p-table>