<nav>
  <div class="menu-toggle" (click)="toggleMenu()">☰</div>

  <div class="menu" [class.open]="isMenuOpen">
    <a routerLink="/gestor/taxis" routerLinkActive="active" (click)="toggleMenu()">Lista de Táxis</a>
    <a routerLink="/gestor/motoristas" routerLinkActive="active" (click)="toggleMenu()">Lista de Motoristas</a>
    <a routerLink="/gestor/precos" routerLinkActive="active" (click)="toggleMenu()">Lista de Preços</a>
    <a routerLink="/gestor/calcular_custo" routerLinkActive="active" (click)="toggleMenu()">Calcular custo de viagem</a>

    <!-- Logout que aparece só em telas pequenas -->
    <a class="logout logout-mobile" routerLink="" (click)="toggleMenu()">Logout</a>
  </div>

  <!-- Logout que aparece só em telas grandes -->
  <div class="logout logout-desktop">
    <a routerLink="">Logout</a>
  </div>
</nav>
<router-outlet></router-outlet>
