<form (submit)="onSubmit($event)">
  <p-select name="nivelConforto" label="Nível de Conforto *">
    <p-select-option value="">Selecione o nível</p-select-option>
    <p-select-option *ngFor="let nivel of niveisConforto" [value]="nivel">
      {{ nivel }}
    </p-select-option>
  </p-select>

  <p-text-field-wrapper label="Início - Data *">
    <input type="date" name="inicioData" />
  </p-text-field-wrapper>

  <p-text-field-wrapper label="Início - Hora *">
    <input type="time" name="inicioHora" />
  </p-text-field-wrapper>

  <p-text-field-wrapper label="Fim - Data *">
    <input type="date" name="fimData" />
  </p-text-field-wrapper>


  <p-text-field-wrapper label="Fim - Hora *">
    <input type="time" name="fimHora" />
  </p-text-field-wrapper>


  <p-button type="submit">Calcular Preço</p-button>

  <div *ngIf="custoTotal" class="success">
    <strong>Custo Total:</strong> {{ custoTotal }}
  </div>

  <div *ngIf="erro" class="error">
    <strong>Erro:</strong> {{ erro }}
  </div>
</form>
